<% if @track && @track.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |track| %>
        <li><%= track %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<form method="post" action="/tracks">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @track && @track.title %>">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= @track && @track.artist %>">
  </div>
  <div>
    <label>BPM:</label>
    <input type="text" name="bpm" value="<%= @track && @track.bpm %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>